body {
    margin: 0;
}

a {
    text-decoration: none;
}

.addcourse_page{
    max-width: 100%;
}

.navbar {
    position: fixed;
    display: flex;
    height: 35%;
    width: 100%;
    background: linear-gradient(180deg, #FF9D42 0%, rgba(255, 157, 66, 0.4375) 59.37%, rgba(255, 157, 66, 0) 100%);
    padding: 8px 20px;
}

.logout {
    position: absolute;
    border-radius: 50px;
    width: 8vw;
    height: 4vh;
    right: 5%;
    top: 5%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1vw;
    
    
    text-align: center;
    cursor: pointer;
}

.navbar_menu ul{
    position: absolute;
    height: 4vh;
    width: 40vw;
    left: 50vh;
    top: 25vh;
    display: flex;
    align-items: center;  
  
    list-style: none;
    /*justify-content: space-between;*/

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
}

.navbar_menu li{
    color: rgba(0, 0, 0, 0.7);
    padding: 1vh 2rem;

    
}

.navbar_menu li:hover{
    color: #FF9D42;
    border-radius: 1px;
    
}

.aco2{
    position: absolute;
    left: 10vh;
    top: 12vh;
    height: 19vh;
    width: 11vw;
    
}

.icon {
    position: absolute;
    left: 39vh;
    top: 25vh;
    height: 6vh;
    width: 4vw;
}
